* {
    font-family: Gotham Pro;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

.contact_us {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 30%;
}

.title {
    font-weight: bold;
    font-size: 48px;
    line-height: 46px;
    color: #414042;
    text-align: left;
    margin-left: 40px;
}

.items {
    display: flex;
}

.item__title {
    font-size: 24px;
    line-height: 140%;
    color: rgba(0, 0, 0, 0.7);
    padding-bottom: 15px;
    padding-top: 20px;
}

.items__left {
    margin: 40px;
}

.items__left input {
    width: 320px;
    height: 50px;
    font-size: 16px;
    line-height: 140%;
    color: rgba(0, 0, 0, 0.5);
    padding-left: 14px;
}

.items__textarea textarea{
    width: 340px;
    height: 139px;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 140%;
    color: rgba(0, 0, 0, 0.5);
    resize: none;
}

.contact_us__button {
    background: #2C7DD9;
    width: 150px;
    height: 50px;
    font-weight: bold;
    font-size: 22px;
    line-height: 130%;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 38px;
    margin-top: 30px;
}