/*-------------index---------------*/

@media (max-width: 1800px) {
    .header__content {
        margin-left: 0;
        margin-right: 0;
    }

    .push {
        display: none;
        margin: 0;
    }

    .design {
        margin-left: 10%;
    }

}

@media (max-width: 1600px) {
    .values__item,
    .values__title{
        margin-left: 15%;
    }

    .cooperation__item {
        flex-wrap: wrap;
    }

    .info__content {
        flex-wrap: wrap;
    }

    .footer__content {
        flex-wrap: wrap;
    }

    .info__bottom__item {
        flex-wrap: wrap;
    }

    .clutch__content {
        margin-left: 15%;
        margin-right: 15%;
    }

}

@media (max-width: 1380px) {
    .values__customers{
        margin-left: 0;
    }

    .values__item {
        justify-content: left;
        margin-left: 30%;
    }

    .work__content {
        margin-left: 15%;
    }

    .work__bottom {
        flex-direction: column;
        margin-left: 30%;
    }

    .work__image {
        margin-bottom: 5%;
    }

    .clutch__content__title {
        margin-left: 15%;
    }

    .cooperation__title__top {
        margin-left: 15%;
    }

    .clutch__content {
        margin-left: 5%;
        margin-right: 5%;
    }

}

@media (max-width: 1130px) {
    .design  {
        margin-left: 5%;
    }

    .work__content {
        margin-left: 5%;
    }

}

@media (max-width: 900px) {
    .values__item {
        margin-left: 5%;
    }

}

/*-------------about---------------*/

@media (max-width: 1500px) {
    .we__are__explore {
        margin-right: 5%;
    }

    .we__are__countries {
        margin-right: 10%;
    }
}

@media (max-width: 1370px) {
    .images__right {
        margin-top: 5%;
    }

}

@media (max-width: 1020px) {
    .we__are__content {
        margin-left: 5%;
    }

    .map__title {
        margin-left: 5%;
    }

}

/*-------------blog---------------*/


@media (max-width: 1370px) {
    .digital__product__item__one,
    .digital__product__item__two,
    .digital__product__item__three,
    .digital__product__item__four {
        margin-bottom: 5%;
    }

}

/*-------------fitness__tracker---------------*/

@media (max-width: 1700px) {
    .fitness__tracker__content {
        flex-direction: column;
    }

    .fitness__tracker__content__right {
        margin-left: 17%;
    }

    .fitness__tracker__item {
        flex-wrap: wrap;
    }
}

@media (max-width: 1350px) {
    .results__content {
        margin: 5%;
    }

    .interface__content {
        margin: 5%;
    }

    .other__product__content {
        margin: 5%;
    }

}

/*-------------portfolio---------------*/

@media (max-width: 1510px) {
    .main__menu__item__right {
        margin-top: 0;
    }

}

/*-------------info---------------*/

@media (max-width: 1060px) {
    .info__content {
        margin-left: 5%;
    }

}

/*-------------technologies---------------*/

@media (max-width: 1060px) {
    .technologies__content {
        margin-left: 5%;
    }

}